{% extends 'partials/base.html.twig' %}

{% block content %}
	<header class="row page-header">
		<h1 class="page-title">{{ page.title}}</h1>
	</header>
  <section class="row">
    <article class="col-12">
      {{ page.content }}
    </article>
	</section>

  <section class="row listing cameras">

    <menu class="inventory-list row small">
      <ul>
      {% for item in page.header.inventory %}
        {% if item.format == '35mm' %}
          <li>
            <img src="{{ page.url }}/{{ item.image  }}" alt="{{ item.brand  }} {{ item.model  }}" width="100%">
            <h3 class="item-title">{{ item.brand  }} {{ item.model  }}</h3>
            <p class="cond">condition: <strong>{{ item.condition  }}</strong></p>
            <!-- <p class="desc">{{ item.description  }}</p> -->
            <p class="price">{{ item.price  }}</p>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </menu>

  </section>
{% endblock %}
