{% extends 'partials/base.html.twig' %}

{% block content %}
  <header class="location-map">
    <h1 class="row page-title">{{ page.title}}</h1>
  </header>
  <article>
    <div class="row">
      <section class="col-6">
      {{ page.content }}
      </section>
      <section class="col-6 location">
        <ul>
          <li>{{ config.site.business.name }}</li>
          <li>{{ site.business.address_1 }}</li>
          <li>{{ site.business.address_2 }}</li>
          <li>{{ site.business.city }} {{ site.business.state_long }}, {{ site.business.postal_code }}</li>
          <li><i class="fas fa-phone-square"></i>{{ site.business.phone }}</li>
          <li><i class="fas fa-fax"></i>{{ site.business.fax }}</li>
          <li><i class="fas fa-envelope"></i>{{ site.business.email }}</li>
          <li><i class="fas fa-map-marked-alt"></i><a href="http://www.google.com/maps">get directions</a></li>
        </ul>
      </section>
    </div>
    <section class="row">
      <div class="col-12">
        {% include 'partials/recaptchaform.html.twig' with {'page': page, 'recaptchacontact': recaptchacontact} %}
      </div>
    </section>
  </article>
{% endblock %}
