{% if page.header.showcase.parallax %}
  <header class="showcase">
    <section class="parallax-container  {{ page.header.showcase.class }}" data-parallax="scroll" data-image-src="{{ page.url }}{{ page.header.showcase.image }}" style="{{ page.header.showcase.height }}">
      <div class="tint"></div>
      <h1 class="row page-title">{{ page.title}}</h1>
    </section>
  </header>
{% else %}
  <header class="showcase homepage-hero">
    <div class="tint"></div>
    <h1 class="row page-title">{{ page.title}}</h1>
  </header>
{% endif %}
